* {
  font-size: 16px;
}

nav {
  background-color: #bc0cdc;
}

#main h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 800;
}
#main h3 {
  text-decoration: underline;
  font-size: 18px;
}

#main h4 {
  font-size: 16px;
}

#post-list {
  margin-top: 2em;
  min-height: 500px;
}

#post-items a {
  line-height: 2em;
  font-size: 18px;
}

#post-items a:hover {
  background-color: #9900bb;
  color: #fff;
}

footer.page-footer {
  background-color: #9900bb;
}
footer.page-footer .footer-copyright {
  background-color: #fff;
  color: #333;
}

.social-links {
  display: table;
  padding: 0;
  margin: 0;
}

.huge-text {
  font-size: 30px;
  color: #ef0000;
}

.large-text {
  font-size: 26px;
  color: #333;
}

pre {
  margin: 1em 0;
  padding: 0.8em;
  border: 1px solid #ccc;
  clear: both;
  width: 90%;
  overflow: auto;
  background-color: #eee;
}

@media only screen and (min-width: 481px) {
  #navigation .brand-logo {
    margin-left: 1em;
  }

  #navigation ul a {
    font-size: 18px;
    padding: 0 30px;
  }
}
@media only screen and (max-width: 480px) {
  #navigation .brand-logo {
    margin-left: 0px;
  }

  #navigation ul a {
    font-size: 13px;
    padding: 0 5px;
  }
}