nav {
  background-color: #bc0cdc;
}

#navigation .brand-logo {
  margin-left: 1em;
}

#navigation ul a {
  font-size: 18px;
  padding: 0 30px;
}

#main p {
  font-size: 16px;
}

#main h2 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 800;
}
#main h3 {
  text-decoration: underline;
  font-size: 18px;
}

#main h4 {
  font-size: 16px;
}

.posts {
  min-height: 400px;
}
footer.page-footer {
  background-color: #9900bb;
}
footer.page-footer .footer-copyright {
  background-color: #fff;
  color: #333;
}

.social-links {
  display: table;
  padding: 0;
  margin: 0;
}