.sns-container {
  width: 100%;
  margin: 0 auto;
}

.sns-area {
  margin: 30px auto 10px;
  padding: 0;
  overflow: hidden;
  table-layout: fixed;
  display: table;
  width: 100%;
}

.sns-area li {
  list-style-type: none;
  display: table-cell;
  vertical-align: middle;
}

.sns-area li:last-child {
  margin-right: 0
}

.sns-link {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  height: 42px;
  line-height: 42px;
}

.sns-link::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background-color: rgba(255,255,255,.3);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.sns-link:hover {
  color: #fff;
  text-decoration: none;
}

.sns-link:hover::after {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}

@-webkit-keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

.sns-twitter {
  background: #55acee;
}

.sns-facebook {
  background: #3a5795;
}

.sns-bookmark {
  background: #00A5DE;
}

.sns-pocket {
  background: #ED4055;
}

.blogicon-twitter,
.blogicon-facebook,
.blogicon-bookmark,
.blogicon-chevron-down {
    margin-right: 5px;
}

@media only screen and (max-width: 767px) {
    .sns-txt {
       display: none;
    }
   .blogicon-twitter,
   .blogicon-facebook,
   .blogicon-bookmark,
   .blogicon-chevron-down {
       margin-right: 0;
   }
}