---
layout: default
---

<h1 class="ui header">
  <a href="{{ page.url }}" >{{ page.title }}</a>
</h1>
<div class="ui two column grid">
  <div class="row">
    <div class="column">
      <div class="ui sub header">{{ page.date | date: "%Y-%m-%d" }}</div>
    </div>
    <div class="column">
      <div class="ui right aligned sub header">
        {% for tag in page.tags %}
          <span class="ui tag label" style="margin-right: 0.5em;">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="posts">
{{ content }}
</div>